{% extends 'base.html' %}
{% load static %}
{% block title %}
    About Us
{% endblock %}
{% block content %}

	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 text-center">
					<div class="inner-column">
                        <br>
                        <br>
                         <br>
                        <h1><center><span>STONE AGE INDIA</span></center></h1>

						<p style="text-align:justify">Stone Age India is the leading Manufacturer , Wholesaler and Exporter of Premium quality Eco friendly
Natural Stones. we have lots of varieties in natural stones like slate stone, sand stone, marble, landscaping
stones, cnc curving on stones in form of wall cladding, flooring, slabs.</p>
						<p style="text-align:justify">our Main production unit S Y SLATE STONE is located in Rajasthan .We have completed many projects
of large scale production in the committed quality and offered production time because our factories are
facilitated with the hi-tech machineries. Under the professional guidance of our highly qualified team, we
have been able to carve a niche in the global market since 20 years.</p>
                        <center><a class="btn btn-lg btn-circle btn-outline-new-white" href="{% static 'doc/catalog.pdf' %}" target="_blank">Download Catalog</a></center>
					</div>
				</div>
				<div class="col-lg-6 col-md-6">
                    <br>
                     <br>

					<img src="{% static 'images/stone_age_big_logo.png' %}" alt="" class="img-fluid">
				</div>
				<div class="col-md-12">
					<div class="inner-column">
                        <br>
                         <br>

                            <h1><center><span style="font-size: 40px">WHY STONE AGE INDIA?</span></center></h1>
                      <br>

                       <div class="row">

                        <div class="col-lg-6 col-md-6 ">
                            <p style="font-size: 30px">REASONABLE AND BEST PRICE</p>
                            <p style="font-size: 30px">TIME DELIVERY</p>
                            <p style="font-size: 30px">BEST QUALITY MATERIAL FROM MANUFACTURING</p>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <p style="font-size: 30px">LARGE SCALE PRODUCTION CAPACITY</p>
                            <p style="font-size: 30px">FLEXIBLE WITH DESIGN AND CREATIVITY</p>
                            <p style="font-size: 30px">100+ HAPPY CUSTOMER</p>
                        </div>

                       </div>
						</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->
{% endblock %}
