
/** ADD YOUR AWESOME CODES HERE **/

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
}
.fill img {
    flex-shrink: 0;
    min-width: 250px;
    min-height: 250px;
    max-width: 250px;
    max-height: 250px;
}